.rojo {
    color: red;
}

.verde {
    color: green;
}

#verde {
    color: aqua;
}

.caja {
    height: 300px;
    width: 300px;
    text-align: center;
    border: 5px solid black;
    margin-left: 500px;
    margin-top: 47px;
    background: red;
}

.cajita {
    height: 200px;
    width: 200px;
    border: 3px solid #3b5998;
}

.texto {
    text-align: center;
    font-size: 20px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    background: green;
}